<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title>alumnohome</ion-title>
    <ion-title>Home Alumno</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>

      <ion-title size="large">alumnohome</ion-title>

      <ion-title size="large">Home Alumno</ion-title>

    </ion-toolbar>
  </ion-header>
  <p>Nombre del usuario: {{ usuario.nombre }}</p>

  <ion-list>
    <ion-item *ngFor="let asignatura of asignaturas">
      <ion-label>
        {{ asignatura.nombre }}
        {{ asignatura.idAsignatura }}
        {{ asignatura.profe_a_cargo }}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button (click)="startScan()" expand="block" fill="solid" shape="round">
    ESCANEAR
  </ion-button>

  <label> {{ lecturaQr }} </label>
</ion-content>