<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Bienvenido: {{ usuario.nombre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="contenido-principal">
  <div class="centrado-vertical ion-text-center">

    <!-- Título -->
    <ion-title class="titulo-grande ion-padding-top">Marcar Asistencia</ion-title>

    <!-- Card con la foto y datos -->
    <ion-card class="card-persona">
      <ion-card-content>
        <!-- Foto de la persona -->
        <ion-img src="assets/card1.png" alt="Foto de la persona"></ion-img>

        <!-- Datos de la persona -->
        <ion-list>
          <ion-item *ngFor="let asignatura of asignaturas">
            <ion-label>
              {{ asignatura.nombre }}
              {{ asignatura.idAsignatura }}
              {{ asignatura.profe_a_cargo }}
            </ion-label>
          </ion-item>
          <!-- Agrega más campos según sea necesario -->
        </ion-list>
      </ion-card-content>
    </ion-card>

    <!-- Botón de Escanear -->
    <ion-button (click)="startScan()" expand="full" fill="solid" shape="round" class="escanear-boton">
      ESCANEAR
    </ion-button>

  </div>
</ion-content>
