<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo-grande">informacion_asignatura</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home-profesor"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="contenido-principal">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tomar Asistencia</ion-title>
    </ion-toolbar>
  </ion-header>
<br><br>
  <ion-card class="card-asignatura">
    <ion-card-header class="card-header-asignatura">
      <ion-card-title>{{ asignatura.nombre }}</ion-card-title>
      <ion-card-subtitle>{{ asignatura.idAsignatura }}</ion-card-subtitle>
    </ion-card-header>

    <ion-button (click)="crearAsistencia()" expand="full" color="light" class="crear-clase-boton">
      Crear Clase
    </ion-button>
  </ion-card>
</ion-content>
