<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Detalle de Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Detalles de la Asistencia -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Asistencia: {{ detalleAsistencia.nombreClase }}</ion-card-title>
    </ion-card-header>
    <ion-card-content color="warning">
      <p>Clase: {{ detalleAsistencia.nombreClase}}</p>
      <p>Codigo Clase: {{ detalleAsistencia.idClase }}</p>
      <p>Fecha: {{ detalleAsistencia.fecha | date }}</p>
    </ion-card-content>
  </ion-card>

  <qrcode [qrdata]="detalleAsistencia.idAsistencia" [width]="256" [allowEmptyString]="true"></qrcode>
  <!-- Lista de Usuarios Presentes -->
  <ion-list>
    <ion-list-header>
      <ion-label color="warning">Usuarios Presentes</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let usuario of usuariosPresentes">
      <ion-avatar slot="start">
      </ion-avatar>
      <ion-label>
        <h2>{{ usuario.nombre }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="detalle-clase"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>