<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>Hola {{ usuario.nombre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">alumnohome</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <ion-title>Cursos</ion-title>
  <br>
  <ion-card *ngFor="let clase of clases" (click)="verDetalleAsignatura(clase.idAsignatura)">
    <ion-card-header>
      <ion-card-title>{{ clase.nombre }}</ion-card-title>
      <ion-card-subtitle>{{ clase.idAsignatura}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{ clase.profe_a_cargo}}
    </ion-card-content>
  </ion-card>


  <ion-list>
    <ion-item *ngFor="let asistencia of asistencias" (click)="verDetalleAsistencia(asistencia.idAsistencia)">
      <ion-label>
        <h2>{{ asistencia.nombreClase }}</h2>
        <p>Fecha: {{ asistencia.fecha | date }}</p>
        <p>Estado: {{ asistencia.idClase }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="detalle-clase"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>